<nb-layout>

  <nb-layout-header fixed>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>

    <!--The content below is only a placeholder and can be replaced.-->
    <div style="text-align:center">
      <h1>
        Welcome to Higher Studies Portal!
      </h1>
      <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
    </div>
    <div class="row show-grid">
      <div class="col-md-3">
        <nb-card status="primary">
            <nb-card-header>Search</nb-card-header>
            <nb-card-body>
                <input type="text" [(ngModel)]="college_name" nbInput fullWidth status="success" placeholder="College Name">
                <br>
                <input type="text" [(ngModel)]="expense_min" nbInput fullWidth status="success" placeholder="Min. Expenses">
                <br>
                <input type="text" [(ngModel)]="expense_max" nbInput fullWidth status="success" placeholder="Max. Expenses">
                <br>
                <button (click)="search('college')" nbButton hero status="success">Search College</button>


            </nb-card-body>
                    
        </nb-card>
      </div>
      <div class="col-md-9">
        <app-list-details *ngIf="(curr_dtype=='college')&&(params==null)" dtype="college" [params]="params" ></app-list-details>
        <app-list-details *ngIf="(curr_dtype=='course')&&(params==null)" dtype="course" [params]="params" ></app-list-details>
      </div>
    </div>


    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>