<!-- <p>list-details works!</p> -->
<nb-card size="large" status="success">
    <nb-card-header>
        Search Results
    </nb-card-header>
    <nb-list *ngIf="items">
        <nb-list-item *ngFor="let item of items">
            
            <app-course-detail [id]=item.id [called]="called" *ngIf='dtype=="course"'></app-course-detail>
            <app-college-detail [id]=item.id [called]="called" *ngIf='dtype=="college"'></app-college-detail>
        </nb-list-item>
    </nb-list>
</nb-card>


