<nb-card>
    <nb-card-body>
        <nb-accordion>
            <nb-accordion-item *ngIf="course">
                <nb-accordion-item-header>
                    {{course['name']}}
                </nb-accordion-item-header>
                <nb-accordion-item-body>

                    <nb-tabset>
                            <nb-tab tabTitle="Description"
                                    badgeStatus="danger">
                              {{course['description']}}
                            </nb-tab>

                            <nb-tab 
                                    *ngIf="called!='college'"
                                    tabTitle="Colleges"
                                    badgeText="{{course['offering_colleges'].length}}"
                                    badgePosition="bottom right"
                                    badgeStatus="danger">
                                    <!-- LOL -->
                                <app-nested-details called="course" dtype="college" [id_arr]="course['offering_colleges']" ></app-nested-details>
                            </nb-tab>
                          </nb-tabset>


                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
</nb-card>